*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    background-color: #f2f2f2;
}

.content{
    max-width: 95%;
    margin: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 33% 66%;
    padding-top: 30px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFF;
    width: 90%;
    padding: 20px 20px;
    border-radius: 15px;
    margin-bottom: 30px;
}

.profile__img{
    width: 100%;
    border-radius: 20px;
    margin: auto;
}

.info{
    margin: 20px 0; 
}

.info__name{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 5px;
}

.info__profession{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
}

.contact{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 10px;
}

.item{
    display: flex;
    align-items: center;
    gap: 15px;
}

.item__img{
    width: 25px;
}

.item__link{
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #4F4F4F;
}

.item__link:hover{
    color: #212F3C;
}

.profile__text{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
}

.exp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFF;
    width: 90%;
    padding: 20px 20px;
    border-radius: 15px;
}

.exp__title{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #4F4F4F;
    margin-bottom: 35px;
}

.job{
    display: flex;
    align-items: flex-start;
    gap: 25px;
}

.job__logo{
    width: 44px;
    height: 54px;
    filter: invert();
    margin-top: 20px;
}

.description__time{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
    margin-bottom: 10px;
}

.description__position{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    margin-bottom: 25px;
}

.description__text{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}

.skills{
    display: flex;
    justify-content: space-around;
}

.front{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFF;
    padding: 20px 20px;
    border-radius: 15px;
}

.front__title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #4F4F4F;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.list{
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

.skill{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill_text{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #4F4F4F;
}

.skill__bar{
    height: 9px;
    width: 70%;
    background-color: #c4c4c4;
    border-radius: 12px;
}

.skill__percentage{
    height: 100%;
    background-color: #212F3C;
    border-radius: 12px;
}

.item-1{
    width: 90%;
}

.item-2{
    width: 90%;
}

.item-3{
    width: 45%;
}

.item-4{
    width: 20%;
}

.design{
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: #FFFF;
    padding: 20px 20px;
    border-radius: 15px;
}

.items-1{
    width: 90%;
}

.items-2{
    width: 70%;
}

.items-3{
    width: 75%;
}

.projects{
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: #FFFF;
    padding: 20px 20px;
    border-radius: 15px;
    margin: 30px auto;
}

.projects__title{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #4F4F4F;
}

.project{
    width: 90%;
    display: flex;
    background-color: #FFFF;
    padding: 20px 20px;
    border-radius: 15px;
    margin: auto;
    gap: 25px;
    margin-bottom: 20px;
}

.project__img{
    width: 40%;
    border-radius: 15px;
}

.infos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hashtags{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.hashtag{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #4F4F4F;
}

.infos__title{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #333333;
}

.infos__text{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.button__back{
    width: 135px;
    height: 46px;
    border-radius: 15px;
    border: none;
    background-color: #212F3C;
}

.button__back:hover{
    background-color: #283747;
}

.button__links{
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.button__border{
    width: 135px;
    height: 46px;
    border: solid 1px #212F3C;
    background-color: transparent;
    border-radius: 15px;
}
.button__link{
    color: #212F3C;
}

footer{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    padding-bottom: 15px;
}

.footer__copyright{
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
}

.span{
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}